<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>403</title>
    </head>
    <body>
        <header class="header">Header</header>
        <main class="main">
            <h1>403</h1>
            <h2>Страница недоступна!</h2>
        </main>
        <nav class="nav">
            nav
        </nav>
        <footer class="footer">Footer</footer>
    </body>
</html>
